<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style> 
    body{
      width:1280px;
      height:720px;
      background:red;
    }
</style>
</head>
<body>
  <div>
    <%= require('html-loader!./header.html') %>
  </div>

  <!-- 入口html内部使用require引入img图片 -->
  <img src="<%= require('../assets/img/card_1-line3.gif') %>" alt="">
  <img src="<%= require('../assets/img/refresh.png') %>" alt="">
  <img src="<%= require('../assets/img/579eb391a7da9.jpg') %>" alt="">
</body>
</html>